.order {
  width: 2em;
}

ul.standings-items {
  margin-left: 0;
  padding-left: 0;
}

ul.standings-items li {
  list-style-type: none;
}

@media screen and (min-width:426px) {
  .standings-title-xs {
    display: none;
  }
  .standings-title {
    display: inline-block;
  }

  .MuiTableCell-root.hide-column-xs {
    display: table-cell;
  }
}

@media screen and (max-width:425px) {
  .standings-title-xs {
    display: inline-block;
  }
  .standings-title {
    display: none;
  }

  .MuiTableCell-root.hide-column-xs {
    display: none;
  }
}