.round {
  border: 1px solid #f50057;
  text-align: center;
  padding: 6px 18px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 4px;
  font-weight: 600;
  color: #f50057;
}

.round:hover {
  background-color: #f50057;
  color: #fff;
  transition: background-color 0.3s ease;
}

.round.active {
  background: #f50057;
  color: #fff;
}