.admin-game-form .row-container {
  display: grid;
  grid-template-columns: 60% 1fr 1fr;
  grid-gap: 10px;
}

.admin-game-form .round-select {
  margin-bottom: 1em;
}

.admin-game-form .game {
  margin-bottom: 2em;
}

.admin-game-form .game h4 {
  margin: 0 0 .5em;
}

