.header-navigation {
  flex-grow: 1;
}
.header-navigation a {
  color: #fff;
  text-decoration: none;
}

.menu-button {
  margin-right: 2em;
}

.title {
  flex-grow: 1;
}



/* .header-navigation {
  background: #ccc;
}

.primary-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 20px;
  color: #fff;
}

.primary-navigation .header-left,
.primary-navigation .header-right {
  display: flex;
}

.primary-navigation .header-right {
  align-self: flex-end;
  justify-content: flex-end;
}

.secondary-navigation {
  padding: 20px;
  background: #2c5364;
}

ul {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  grid-gap: 20px;
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.header-navigation a {
  color: #fff;
} */